@model PaymentAutomationLC.ViewModels.PaymentProfileViewModel
@{
    ViewData["Title"] = "EditProfile";
}

<h1>Edit Payment Profile - @Model.Name</h1>

<form asp-controller="PaymentProfile" asp-action="Edit" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" value="@Model.Name" />
    </div>
    <div class="form-group">
        <label asp-for="PayPerArticle"></label>
        <input asp-for="PayPerArticle" value="@Model.PayPerArticle" />
    </div>
    <div class="form-group">
        <label asp-for="ArticleBonus"></label>
        <input asp-for="ArticleBonus" value="@Model.ArticleBonus" />
    </div>
    <div class="form-group">
        <label asp-for="MinimumPVForBonus"></label>
        <input asp-for="MinimumPVForBonus" value="@Model.MinimumPVForBonus" />
    </div>
    <input type="hidden" asp-for="PaymentProfileId" value="@Model.PaymentProfileId" />
    <input type="submit" value="Edit Profile" />
</form>

