@model PaymentAutomationLC.ViewModels.NewUserViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit User</h1>

<form asp-controller="User" asp-action="Edit" method="post">
    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" value="@Model.FirstName" />
    </div>
    <div class="form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" value="@Model.LastName"/>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" value="@Model.Email"/>
    </div>
    <div class="form-group">
        <label asp-for="PaymentProfileId"></label>
        <select asp-for="PaymentProfileId" asp-items="Model.PaymentProfiles"></select>
    </div>
    <div class="form-group">
        <label asp-for="IdentityRoleId"></label>
        <select asp-for="IdentityRoleId" asp-items="Model.IdentityRoles" value="@Model.IdentityRoleId"></select>
    </div>
    <input type="hidden" asp-for="UserId" value="@Model.UserId"/>
    <input type="hidden" asp-for="OldRoleName" value="@Model.OldRoleName" />
    <input type="submit" value="Edit User" />
</form>
