@model PaymentAutomationLC.Models.Payment
@{
    ViewData["Title"] = "Articles";
}

<h1>@Model.MonthYear  Articles</h1>
<a asp-controller="Payment" asp-action="CalculatePayments"
   asp-route-paymentId="@Model.Id">
    Calculate Payments
</a>
<a asp-controller="Payment" asp-action="Summary" 
        asp-route-id="@Model.Id">
    View Summary
</a>

<table class="table">
    <tr>
        <th>Writer</th>
        <th>Date Written</th>
        <th>Article Title</th>
        <th>Page Views</th>
    </tr>
    @foreach(var article in Model.Articles)
    {
        <tr>
            <td>@article.Writer</td>
            <td>@article.DateWritten</td>
            <td>@article.ArticleTitle</td>
            <td>@article.PageViews</td>
        </tr>
    }
</table>