@model PaymentAutomationLC.Models.Payment
@{
    ViewData["Title"] = "Articles";
}

<h1>@Model.MonthYear  Articles</h1>
@if(!Model.CalculationComplete)
{
    <a asp-controller="Payment" asp-action="CalculatePayments"
       asp-route-paymentId="@Model.Id" class="btn btn-primary">
        Calculate Payments
    </a>
} 
else
{
    <button class="btn btn-primary" disabled>Calculation complete</button>
}
<a asp-controller="Payment" asp-action="Summary" 
        asp-route-id="@Model.Id" class="btn btn-primary">
    View Summary
</a>

<table class="table no-pagination">
    <thead>
        <tr>
            <th>Writer</th>
            <th>Date Written</th>
            <th>Article Title</th>
            <th>Page Views</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var article in Model.Articles)
        {
            <tr>
                <td>@article.Writer</td>
                <td>@article.DateWritten.ToString("d")</td>
                <td>@article.ArticleTitle</td>
                <td>@article.PageViews</td>
            </tr>
        }
    </tbody>
</table>