@model List<PaymentAutomationLC.Models.ApplicationUserPayment>
@{
    ViewData["Title"] = "Summary";
}

<h1>@Model[0].Payment.MonthYear Payment Summary</h1>

<table class="table">
    <tr>
        <th>Writer</th>
        <th class="d-none d-md-block">Payment Profile</th>
        <th>Articles (w/o Bonus)</th>
        <th>Articles (w/ Bonus)</th>
        <th>TotalPayment</th>
    </tr>
    @foreach(var userPayment in Model)
    {
        <tr>
            <td>@userPayment.ApplicationUser.FirstName  @userPayment.ApplicationUser.LastName</td>
            <td class="d-none d-md-block">@userPayment.PaymentProfile.Name</td>
            <td>@userPayment.NumArticlesWithoutBonus</td>
            <td>@userPayment.NumArticlesWithBonus</td>
            <td>@userPayment.TotalPayment</td>
        </tr>
    }
</table>
