@model List<PaymentAutomationLC.Models.ApplicationUserPayment>
@{
    ViewData["Title"] = "UserHistory";
}

<h1>Payment History for @Model[0].ApplicationUser.FirstName  @Model[0].ApplicationUser.LastName</h1>

<table class="table">
    <tr>
        <th>Payment Period</th>
        <th>Payment Profile</th>
        <th>Articles (w/o Bonus)</th>
        <th>Articles (w/ Bonus)</th>
        <th>TotalPayment</th>
    </tr>
    @foreach (var userPayment in Model)
    {
        <tr>
            <td>@userPayment.Payment.MonthYear</td>
            <td>@userPayment.PaymentProfile.Name</td>
            <td>@userPayment.NumArticlesWithoutBonus</td>
            <td>@userPayment.NumArticlesWithBonus</td>
            <td>@userPayment.TotalPayment</td>
        </tr>
    }
</table>