@model PaymentAutomationLC.ViewModels.UserHistoryViewModel
@{
    ViewData["Title"] = "UserHistory";
}

<h1>Payment History for @Model.User.FirstName @Model.User.LastName</h1>

@if(Model.UserPayments.Count() != 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Payment Period</th>
                <th>Payment Profile</th>
                <th>Articles (w/o Bonus)</th>
                <th>Articles (w/ Bonus)</th>
                <th>TotalPayment</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var userPayment in Model.UserPayments)
            {
                <tr>
                    <td>@userPayment.Payment.MonthYear</td>
                    <td>@userPayment.PaymentProfile.Name</td>
                    <td>@userPayment.NumArticlesWithoutBonus</td>
                    <td>@userPayment.NumArticlesWithBonus</td>
                    <td>@userPayment.TotalPayment</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No Payment Records</p>
}